@import '../../config.scss';

.categoryBox {
  border: 1px solid black;
  color: $color-font;
  font-size: $big-font-size;
  flex-shrink: 0;
  margin: 1rem 0;
  padding: 4rem 1rem;
  text-align: center;
  text-decoration: none;
  width: 32%;

  @media screen and (max-width: $tablet-width){
    width: 45%;
  }

  @media screen and (max-width: $mobile-width){
    width: 90%;
  }
}