@import '../../config.scss';

.orderList {
  border-collapse: collapse;
  text-align: left;
  width: 100%;

  & thead {
    background-color: $color-font;
    color: $color-background;
  }

  & tr:nth-child(even){
    background-color:#E8E8E8;
  }
  
  & th, td {
    padding: 0.5rem;
  }
}
