@import '../../config.scss';

.categoryTitle {
  margin: 3rem 0 2rem 0;
}

.pageNav {
  align-items: baseline;
  display: flex;
  flex-flow: row nowrap;

  & .pageButt {
    margin-left: 0;
  }

  & .pageNum {
    margin-right: 1rem;
  }
}