@import '../../config.scss';

.categoryList {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 -4.3rem 0 -1rem;

  @media screen and (max-width: $mobile-width){
    flex-flow: column;
  }
}