@import '../../config.scss';

.order {
  margin: 3rem auto;
  width: 70%;

  @media screen and (max-width: $mobile-width){
    width: 100%;
  }

  &LinkToOrders {
    color: $color-font;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}