@import '../../config.scss';

.registerTitle {
  margin: 3rem 0 2rem 0;
}

.registerSuccess {
  font-size: $medium-font-size;
  font-weight: bold;
  margin-bottom: 2rem;
}

.registerForm {

  & .registerButton {
    margin-left: 0;
  }
}

.registerLinkToLogin {
  color: $color-font;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}