@import '../../config.scss';

.header {
  background-color: rgb(34, 34, 34);
}

.header__contentTitle {
  
}

.header__titleLink {
  color: white;
  text-decoration: none;
  padding-top: 1rem;
}

.header__content {
  display: flex;
  justify-content: space-between;
  max-width: $max-width;
  margin: auto;
}

.header__link {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.header__optionAbove {
  padding: 1rem;
}

.header__optionLower {
  padding: 0 1.5rem;
}

.header__link--selected {
  font-weight: 600;  
}


