@import '../../config.scss';

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
}

.header__content {
 display: flex;
}

.header__title {
  margin: 1em;
}

.header__titleLink {
  color: white;
  text-decoration: none;
}

.header__options {
  color: gray;
  text-decoration: none;
  display: inline-block;
  justify-content: space-between;
}

.header__link--selected {
  color: white;
  flex-direction: column;
  text-decoration: none;    
}


