$max-width: 1400px;
$gutter: 30px;
$tablet-width: 900px;
$mobile-width: 600px;

$font-main: 'Open Sans', helvetica, arial, sans-serif;
$font-heading: 'Noto Serif', georgia, serif;
$big-font-size: 2rem;
$medium-font-size: 1.5rem;
$small-font-size: 1rem;

$small-button-size: 8rem;

$color-font: #222;
$color-background: #eee;
$color-gray: #ccc;
$color-invalid: #4e1d04;

$transition: 250ms ease-in-out;


@mixin row() {
  display: flex;

  margin-right: -($gutter / 2);
  margin-left: -($gutter / 2);
}

@mixin columns($col: 1) {
  // margföldum með "1%" til að breyta gildi í prósentu gildi
  width: ($col / 12 * 100) * 1%;

  padding-right: $gutter / 2;
  padding-left: $gutter / 2;
}

@mixin offset-left($cols: 0) {
  margin-left: ($cols/12 * 100) * 1%;
}