$max-width: 1400px;
$gutter: 30px;
$tablet-width: 900px;
$mobile-width: 600px;

$font-main: 'Open Sans', helvetica, arial, sans-serif;
$font-heading: 'Noto Serif', georgia, serif;
$big-font-size: 2rem;

$color-font: #222;
$color-background: #eee;
$color-gray: #ccc;
$color-invalid: #4e1d04;

$transition: 250ms ease-in-out;
