@import '../../config.scss';
 

.cartLine {
  display: flex;
  flex-flow: row wrap;

  margin: 2rem 0;

  &Image {
    flex: 1;

    & img {
      object-fit: cover;
      padding: 1rem 0;

      height: 16rem;
      width: 100%;
    }
  }

  &Info {
    flex: 2;
    margin: 1rem 2rem;

    &Title {
      color: $color-font;
      text-decoration: none;
    }
  }

  &Management {
    flex: 1;

    display: flex;
    flex-flow: column;
    
    align-items: flex-start;

    &Quantity {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
    }

    &TotalPrice {
      font-weight: bold;
    }

    &DeleteButton {
      margin-left: 0;
    }
  }

  @media screen and (max-width: $mobile-width) {
    flex-flow: column;
    margin: 2rem 1rem;

    &Image {
      width: 100%;
    }

    &Info {
      margin: 0;
      width: 100%;
    }

    &Management {
      width: 100%;
    }
  }
}