@import '../../config.scss';

.loginTitle {
  margin: 3rem 0 2rem 0;
}

.loginForm {

  & .errorMsg {
    color: $color-invalid;
    font-size: 0.8rem;
  }

  & .loginButton {
    margin-left: 0;
  }

}

.loginLinkToRegister {
  color: $color-font;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}